%head
  <link href="https://use.fontawesome.com/releases/v5.6.1/css/all.css" rel="stylesheet">
★このサイトの使い方★
%p
このサイトはフィッシングサイトによる不正ログインを体験できるサイトです

%p
1.左上の「新規登録またはログイン」をクリックしユーザ登録をする
%p
＊メールアドレス入力欄がありますが、実際に送信するわけでは無いので必ず仮のアドレスを使ってください
%p
2.ログイン後マイページへ行く その後秘密を投稿してください
%p
フィッシングを体験してみる
２人用意してください
%br
⇨ログインする方はAへ
%br
⇨フィッシングする方はBへ
%p
A.トップページ下へスクロールし、
%i.fas.fa-sign-in-alt{href: home_fishing_path}
から移動しログインしてください
%p
B.トップページ下へスクロールし、
%i.far.fa-angry{href: home_fishing_return_path}
から移動してください
%p
するとパスワードやメールアドレスが出てきます ログインページへ移動し出てきた文字を打ち込んでみましょう


