★このサイトの使い方★
%p
このサイトはフィッシングサイトによる不正ログインを体験できるサイトです
%p
1.新規登録からユーザ登録
%p
＊メールアドレス入力欄がありますが、実際に送信するわけでは無いので必ず仮のアドレスを使ってください
%p
2.ログイン後マイページへ行く その後秘密を投稿してください
%p
フィッシングを体験してみる
２人用意してください
%br
⇨ログインする方はAへ
%br
⇨フィッシングする方はBへ
%p
A.トップページ下へスクロールし、フィッシングから移動しログインしてください
%p
B.トップページ下へスクロールし、フィッシング結果から移動してください
%p
するとパスワードやメールアドレスが出てきます ログインページへ移動し出てきた文字を打ち込んでみましょう


